.affix { 
    top: 0; 
    width: 100%; 
    z-index:4; 
    position:fixed; 
    } 
    
    
    .main { 
    margin-top: 70px; 
    } 
    .nav>li { 
    position: relative; 
    display: block; 
    float: right; 
    } 
    @media (min-width: 768px){ 
    .navbar-header { 
    float: unset; 
    } 
    } 
    @media (min-width: 768px){ 
    .navbar-nav { 
    float: right; 
    margin: 0; 
    } 
    } 
    element.style { 
    padding-top: 0px; 
    } 
    .navbar-inverse .navbar-nav>li>a { 
    color: #9d9d9d; 
    } 
    @media (min-width: 768px){ 
    .navbar-nav>li>a { 
    /* padding-top: 15px; */ 
    /* padding-bottom: 15px; / 
    } 
    } 
    
    .navbar-nav>li>a { 
    / padding-top: 10px; / 
    / padding-bottom: 10px; */ 
    line-height: 1px; 
    } 
    .nav>li>a { 
    position: relative; 
    display: block; 
    padding: 10px 15px; 
    } 
    a { 
    color: #337ab7; 
    text-decoration: none; 
    } 
    a { 
    background-color: transparent; 
    } 
    * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    } 
    user agent stylesheet 
    li { 
    display: list-item; 
    text-align: -webkit-match-parent; 
    } 
    .nav { 
    padding-left: 0; 
    margin-bottom: 0; 
    list-style: none; 
    } 
    user agent stylesheet 
    ul, menu, dir { 
    display: block; 
    list-style-type: disc; 
    margin-block-start: 1em; 
    margin-block-end: 1em; 
    margin-inline-start: 0px; 
    margin-inline-end: 0px; 
    padding-inline-start: 40px; 
    } 
    body { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    background-color: #fff; 
    } 
    html { 
    font-size: 10px; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    } 
    html { 
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    } 
    :after, :before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    } 
    :after, :before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    }
}