<!-- <GridLayout columns="*,auto" backgroundColor="rgb(81,197,247, 0.8)" 
      verticalAlignment="bottom" padding="10" fontSize="13" color="white"> 
      <Label row="1" text="Total Amount"> 
      </Label> 
      <Label row="1" col="2" text={{amount.amount}} ></Label> 
      
</GridLayout> -->

<GridLayout columns="*,auto" backgroundColor="rgb(81,197,247, 0.8)" 
verticalAlignment="bottom" padding="14" color="white"> 
<Label row="1" text="Total Amount" fontSize="23"> 
</Label> 
<Label row="1" col="2" text="{{amount.amount | currency }}" fontSize="20"></Label> 

</GridLayout>